h1 {
    color:rgb(1, 104, 120);
}

.homepage {
        background:
                linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),
                url("banner.jpeg")
                center / cover;
}

.w {
    color: chartreuse;
}
