{% extends "base.html" %}


{% block content %}
        {% for r in resumes %}
                <div><a href="/resume-info/{{ r.id }}">
                        <hr>
                        {{ r.name }}
                        </a>
                        <hr>
                        {{ r.author }}
                        <hr>
                        {{ r.resume_text }}
                        <hr>
                        {{ r.experience }}
                        <hr>
                        {{ r.education }}
                        <hr>
                        {{ r.skill }}
                        <hr>
                        {{ r.contacts }}
                        <a href="/resume-edit/{{ r.id }}">Изменить</a>
                        <a href="{% url 'resume-edit-dj' r.id %}">Изменение резюме</a>

                </div>
        {% endfor %}
{% endblock %}|

