<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block my_title %}
                Hand hunter
        {% endblock %}
    </title>
</head>
<body>
        <nav>
            <a href="/homepage">Home</a>|
            <a href="/vacancies">Вакансии</a>|
            <a href="/workers">Кандидаты</a>|
            <a href="/about">Рботник мечты</a>|
            <a href="/resume-list">Резюме</a>|
            <a href="/my-resume">Мои резюме</a>|
            <a href="/admin">admin</a>|
            {% if request.user.is_authenticated %}
                    Пивет {{ request.user.username }}|
            {% else %}
            Пожалуста, вторизуйтесь !
            {% endif %}
        </nav>

        {% block content %}

        {% endblock %}
        <footer>
            <hr>
            056464364743
            Адрес: Бишкек 7 мкр
        </footer>


<!--    <nav>-->
<!--        <a href="/">Домой</a>-->
<!--        <a href="/vacancies">Вакансия</a>-->
<!--        <a href="/workes">Кандидаты</a>-->
<!--&lt;!&ndash;        <a href="/about">Ананас</a>&ndash;&gt;-->
<!--    </nav>-->
</body>
</html>